  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Electronic Circuit</li>
        </ol>
        <h2>Arduino With Resistor and LED Lights</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="portfolio-details-slider swiper-container">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="assets/img/projects/ecircuits/project2.jpg" alt="" width="300" height="300">
                </div>

               <!--  <div class="swiper-slide">
                  <img src="assets/img/portfolio/portfolio-2.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/portfolio/portfolio-3.jpg" alt="">
                </div> -->

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: Electronic Circuit</li>
                <li><strong>Developed By</strong>: BSchool</li>
               
                <li><strong>Project URL</strong>: <a href="https://www.tinkercad.com/things/5uMTjag9jfo">Click Here</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Arduino With Double LED Lights and Resistor</h2>
              <p>
                This circuit is develop using tinkercad platform in which Two Resistors and LED Lights connected with Ardiuno.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  